{% extends "layout.html" %}
{% block body %}
      <!--Home-->
<section id="tal" class="bg-dark text-light  text-center text-sm-start">
    <div class="row">
        <div class=" bg-warning  mt-5 p-5">
        <h1 class="text-white text-center">Performances Measures</h1>
        <p class="text-black">In the original dataset, only 10% of tenants are at high risk. To get a truly accurate model, special techniques were used on imbalanced data.</p>
            <li class="text-black">
              Many differnt columns like Lattitude, Longitude, City, County, State, Median Income, Housing units were added using the zipcode. 
            </li>
            <li class="text-black"> Undersampling: These data have been undersampled to give an even number of positive and negative class using undersampling techniques.</li>
            <li class="text-black"> Oversampling: Oversampling and SMOTE (Synthetic Minority Over-sampling ) technique is used to give an even number of positive and negative class.</li>
            <p class="text-black"> Below are the performances measures of oversampling dataset.</p>
        </div>
    </div>
    <div class="sidebar">
        <div class="d-lg-flex">
            <div class="container fluid">
                <div class="bg-black">
                <h2 class=" p-1 text-white text-center">Oversampling Data with Added Features</h2>
               </div>
                <div>
                    
                    <div class="container">
                        <table class="table table-striped table table-bordered table-dark">
                            <thead>
                                <tr style="text-align: right;">
                                  <th></th>
                                  <th>SGD</th>
                                  <th>logistic Reg</th>
                                  <th>SVC</th>
                                  <th>Decision Tree</th>
                                  <th>Random Forest</th>
                                  <th>Extra Random Tree</th>
                                  <th>AdaBoost</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th>train score</th>
                                  <td>0.808866</td>
                                  <td>0.820828</td>
                                  <td>0.829655</td>
                                  <td>1.000000</td>
                                  <td>0.950297</td>
                                  <td>0.888633</td>
                                  <td>1.000000</td>
                                </tr>
                                <tr>
                                  <th>test score</th>
                                  <td>0.796392</td>
                                  <td>0.803493</td>
                                  <td>0.819804</td>
                                  <td>0.950681</td>
                                  <td>0.924199</td>
                                  <td>0.847246</td>
                                  <td>0.943005</td>
                                </tr>
                                <tr>
                                  <th>precision_score</th>
                                  <td>0.834071</td>
                                  <td>0.822695</td>
                                  <td>0.842282</td>
                                  <td>0.912037</td>
                                  <td>0.893917</td>
                                  <td>0.813493</td>
                                  <td>0.902335</td>
                                </tr>
                                <tr>
                                  <th>recall_score</th>
                                  <td>0.733178</td>
                                  <td>0.767017</td>
                                  <td>0.781019</td>
                                  <td>0.996110</td>
                                  <td>0.960327</td>
                                  <td>0.895760</td>
                                  <td>0.991832</td>
                                </tr>
                                <tr>
                                  <th>f1_score</th>
                                  <td>0.780377</td>
                                  <td>0.793881</td>
                                  <td>0.810494</td>
                                  <td>0.952222</td>
                                  <td>0.925933</td>
                                  <td>0.852647</td>
                                  <td>0.944969</td>
                                </tr>
                                <tr>
                                  <th>auc</th>
                                  <td>0.894501</td>
                                  <td>0.900322</td>
                                  <td>0.907073</td>
                                  <td>0.951275</td>
                                  <td>0.977163</td>
                                  <td>0.934809</td>
                                  <td>0.943643</td>
                                </tr>
                              </tbody>
                            </table>
                    </div>
                    
                    
                        
                </div>
            </div>
            <div class="container ">
                <div class="bg-danger">
                    <h2 class=" p-1 text-white text-center">Oversampling Data with Original Features</h2>
                   </div>
                <div class="bg-black">
                
                    
                    <div class="container">
                        <table class="table table-striped table table-bordered table-dark">
                            <thead>
                                <tr style="text-align: right;">
                                  <th></th>
                                  <th>SGD</th>
                                  <th>Logistic Reg</th>
                                  <th>SVC</th>
                                  <th>Decision Tree</th>
                                  <th>Random Forest</th>
                                  <th>Extra Random Tree</th>
                                  <th>AdaBoost</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th>train score</th>
                                  <td>0.797345</td>
                                  <td>0.820056</td>
                                  <td>0.828092</td>
                                  <td>0.641160</td>
                                  <td>0.915793</td>
                                  <td>0.815164</td>
                                  <td>1.000000</td>
                                </tr>
                                <tr>
                                  <th>test score</th>
                                  <td>0.799790</td>
                                  <td>0.822851</td>
                                  <td>0.828092</td>
                                  <td>0.622642</td>
                                  <td>0.850105</td>
                                  <td>0.766247</td>
                                  <td>0.797694</td>
                                </tr>
                                <tr>
                                  <th>precision_score</th>
                                  <td>0.761905</td>
                                  <td>0.839817</td>
                                  <td>0.846330</td>
                                  <td>0.584665</td>
                                  <td>0.844350</td>
                                  <td>0.728814</td>
                                  <td>0.798687</td>
                                </tr>
                                <tr>
                                  <th>recall_score</th>
                                  <td>0.858369</td>
                                  <td>0.787554</td>
                                  <td>0.791845</td>
                                  <td>0.785408</td>
                                  <td>0.849785</td>
                                  <td>0.830472</td>
                                  <td>0.783262</td>
                                </tr>
                                <tr>
                                  <th>f1_score</th>
                                  <td>0.807265</td>
                                  <td>0.812846</td>
                                  <td>0.818182</td>
                                  <td>0.670330</td>
                                  <td>0.847059</td>
                                  <td>0.776329</td>
                                  <td>0.790899</td>
                                </tr>
                                <tr>
                                  <th>auc</th>
                                  <td>0.881174</td>
                                  <td>0.901771</td>
                                  <td>0.907549</td>
                                  <td>0.654739</td>
                                  <td>0.922958</td>
                                  <td>0.855080</td>
                                  <td>0.797369</td>
                                </tr>
                              </tbody>
                            </table>
                    </div>
                    
                </div>
        </div> 
    </div>
</section>
<div class="p-2">
    <div class="bg-black">
        <h2 class=" p-5 text-warning text-center">Prediction on the Test set using Different Learning Algorithms</h2>
        <h4 class=" p-1 text-warning text-center">Data contain the additional features</h4>
    </div>
    <table class="table table-striped table table-bordered table-dark">
        <thead>
            <tr style="text-align: right;">
              <th></th>
              <th>Real value</th>
              <th>SGD Classifier</th>
              <th>Logistic Regression</th>
              <th>SVC</th>
              <th>Decision Tree</th>
              <th>Random Forest</th>
              <th>Extra Random Tree</th>
              <th>AdaBoost</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>0</th>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>False</td>
              <td>True</td>
            </tr>
            <tr>
              <th>1</th>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
            </tr>
            <tr>
              <th>2</th>
              <td>True</td>
              <td>False</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
            </tr>
            <tr>
              <th>3</th>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
            </tr>
            <tr>
              <th>4</th>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
            </tr>
            <tr>
              <th>5</th>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
            </tr>
            <tr>
              <th>6</th>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>True</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
            </tr>
            <tr>
              <th>7</th>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
            </tr>
            <tr>
              <th>8</th>
              <td>False</td>
              <td>False</td>
              <td>True</td>
              <td>True</td>
              <td>False</td>
              <td>False</td>
              <td>True</td>
              <td>False</td>
            </tr>
            <tr>
              <th>9</th>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
            </tr>
            <tr>
              <th>10</th>
              <td>False</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>False</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
            </tr>
            <tr>
              <th>11</th>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>True</td>
              <td>False</td>
              <td>False</td>
            </tr>
            <tr>
              <th>12</th>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
            </tr>
            <tr>
              <th>13</th>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
            </tr>
            <tr>
              <th>14</th>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
            </tr>
            <tr>
              <th>15</th>
              <td>True</td>
              <td>False</td>
              <td>False</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>False</td>
            </tr>
            <tr>
              <th>16</th>
              <td>False</td>
              <td>False</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>False</td>
            </tr>
            <tr>
              <th>17</th>
              <td>True</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>True</td>
              <td>True</td>
              <td>False</td>
              <td>True</td>
            </tr>
            <tr>
              <th>18</th>
              <td>True</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
            </tr>
            <tr>
              <th>19</th>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
            </tr>
            <tr>
              <th>20</th>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
            </tr>
            <tr>
              <th>21</th>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
            </tr>
            <tr>
              <th>22</th>
              <td>True</td>
              <td>True</td>
              <td>False</td>
              <td>False</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
            </tr>
            <tr>
              <th>23</th>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
            </tr>
            <tr>
              <th>24</th>
              <td>True</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
            </tr>
            <tr>
              <th>25</th>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
            </tr>
            <tr>
              <th>26</th>
              <td>True</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
            </tr>
            <tr>
              <th>27</th>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>True</td>
            </tr>
            <tr>
              <th>28</th>
              <td>True</td>
              <td>True</td>
              <td>False</td>
              <td>False</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
            </tr>
            <tr>
              <th>29</th>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
            </tr>
            <tr>
              <th>30</th>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
            </tr>
            <tr>
              <th>31</th>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
            </tr>
            <tr>
              <th>32</th>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
            </tr>
            <tr>
              <th>33</th>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
            </tr>
            <tr>
              <th>34</th>
              <td>True</td>
              <td>False</td>
              <td>False</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>False</td>
              <td>True</td>
            </tr>
            <tr>
              <th>35</th>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
            </tr>
            <tr>
              <th>36</th>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
            </tr>
            <tr>
              <th>37</th>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
            </tr>
            <tr>
              <th>38</th>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
            </tr>
            <tr>
              <th>39</th>
              <td>True</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>True</td>
              <td>True</td>
              <td>False</td>
              <td>True</td>
            </tr>
            <tr>
              <th>40</th>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
            </tr>
            <tr>
              <th>41</th>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
            </tr>
            <tr>
              <th>42</th>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>True</td>
              <td>False</td>
            </tr>
            <tr>
              <th>43</th>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
            </tr>
            <tr>
              <th>44</th>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
            </tr>
            <tr>
              <th>45</th>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
            </tr>
            <tr>
              <th>46</th>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
            </tr>
            <tr>
              <th>47</th>
              <td>True</td>
              <td>False</td>
              <td>False</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
            </tr>
            <tr>
              <th>48</th>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
            </tr>
            <tr>
              <th>49</th>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
            </tr>
            <tr>
              <th>50</th>
              <td>True</td>
              <td>True</td>
              <td>False</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
            </tr>
            <tr>
              <th>51</th>
              <td>False</td>
              <td>True</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
            </tr>
            <tr>
              <th>52</th>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
            </tr>
            <tr>
              <th>53</th>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
            </tr>
            <tr>
              <th>54</th>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
            </tr>
            <tr>
              <th>55</th>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
            </tr>
            <tr>
              <th>56</th>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
            </tr>
            <tr>
              <th>57</th>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
            </tr>
            <tr>
              <th>58</th>
              <td>False</td>
              <td>True</td>
              <td>True</td>
              <td>False</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>False</td>
            </tr>
            <tr>
              <th>59</th>
              <td>True</td>
              <td>True</td>
              <td>False</td>
              <td>False</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
            </tr>
            <tr>
              <th>60</th>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
            </tr>
            <tr>
              <th>61</th>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>True</td>
              <td>True</td>
              <td>False</td>
            </tr>
            <tr>
              <th>62</th>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
            </tr>
            <tr>
              <th>63</th>
              <td>False</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>False</td>
            </tr>
            <tr>
              <th>64</th>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
              <td>True</td>
            </tr>
            <tr>
              <th>65</th>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
            </tr>
            <tr>
              <th>66</th>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
              <td>False</td>
            </tr>
        </tbody>
    </table>
</div>
<footer>
    <p>Copyright &copy; pandeysudip2022</p>
</footer>   
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}

